/* ________________GENERIC_________________ */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-200);
  text-align: center;
  background-color: var(--white);
  font-size: 1rem;
}

input {
  outline: none;
  border: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

/* .hide {
  display: none;
} */

/* VARIABLES */
:root {
  /* colors */
  --dull-blue: #00abb2;
  --bright-blue: #00cdac;
  --white: aliceblue;
  --black: #272044;
  --grey: #333333;
  --light-grey: #808080;
  --lighter-grey: rgb(201, 205, 209);

  /* font-sizes */
  --fs-700: clamp(1.5rem, 7vw, 3.5rem);
  --fs-600: clamp(1.5rem, 4vw, 2.3rem);
  --fs-500: clamp(1.15rem, 3vw, 1.6rem);
  --fs-400: 1.3rem; /* for primary btns */
  --fs-300: 1.05rem; /* for primary btns */
  --fs-200: 1rem;
  --fs-100: 0.8rem;
}

@media (width < 650px) {
  :root {
    --fs-400: 0.95rem;
    --fs-300: 0.75rem;
    --fs-200: 0.85rem;
    --fs-100: 0.6rem;
  }
}

@media (width > 1500px) {
  :root {
    --fs-700: clamp(2.5rem, 7vw, 5rem);
    --fs-600: clamp(2.3rem, 4vw, 3rem);
    --fs-500: clamp(1.7rem, 3vw, 2rem);
    --fs-400: 1.7rem;
    --fs-300: 1.5rem;
    --fs-200: 1.2rem;
    --fs-100: 1rem;
  }
}

/* ____________MAIN STYLING_____________ */
/* NAVBAR */
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: var(--black);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: fixed;
  z-index: 100;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  /* #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  } */
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    /* transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}

/* MAIN */

main {
  padding: 7em 0 3em 0;
}

.projects {
  display: grid;
  gap: 1.5em;
}

input {
  font-size: var(--fs-300);
  outline: none;
  border: 2px solid green;
  border-radius: 0.3em;
  padding: 0.5em;
}

.projects-container {
  max-width: 1500px;
  width: 95%;
  margin: auto;

  display: grid;
  gap: 5em;
}

.projects-container .project {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  gap: 2em;
}

.projects-container .project > picture {
  order: 2;
  aspect-ratio: 18/9;
  border-radius: 0.3em;
  overflow: hidden;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.projects-container .project > div {
  order: 1;
  text-align: left;
  display: grid;
  gap: 1em;
  align-content: center;
}

@media (width < 750px) {
  .projects-container .project {
    grid-template-columns: 1fr;
  }
  .projects-container .project > picture {
    order: 1;
  }
  .projects-container .project > div {
    order: 2;
    text-align: center;
  }
}

/*  */